@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src: url("../static/fonts/poppins-v24-latin-regular.woff2") format("woff2");
}

:root {
	--color-primary--white: #fff;
	--color-primary--black: #363738;

	--color-secondary--light-gray: #f5f5f5;
	--color-secondary--light: #fefaf1;
	--color-secondary--red: #db4444;

	--color-background: #fff;

	--color-other--button-green: #00ff66;
	--color-other--button-red: #db4444;
	--color-other--button-light-red: #e07575;
	--color-other--button-teal: #a0bce0;

	--color-text--white: #fafafa;
	--color-text--gray: #7d8184;
	--color-button-card--black: #000;
	--color-text--black: #000;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	height: 100%;
	font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100%;
}
