#page-wrapper {
	>header {
		font-size: 14px;

		>.top-header {
			position: relative;
			display: flex;
			justify-content: center;
			padding: 12px 0;
			color: var(--color-text--white);
			background-color: var(--color-button-card--black);

			>.sale {
				display: flex;
				gap: 8px;
				min-width: max-content;

				a {
					color: var(--color-primary--white);
					font-weight: bold;
				}
			}

			>.language-dropdown-container {
				position: absolute;
				right: 9%;
				display: flex;
				gap: 5px;

				&::after {
					content: url(/static/images/dropdown-arrow.svg);
				}
			}
		}
	}
}
