@use "media";

#page-wrapper {
	position: relative;

	>header {
		font-size: 14px;
		text-wrap-mode: nowrap;

		>.top-header {
			position: relative;
			padding: 12px 0;
			color: var(--color-text--white);
			background-color: var(--color-button-card--black);

			>.sale {
				display: flex;
				justify-content: center;
				gap: 8px;

				a {
					color: var(--color-primary--white);
					font-weight: bold;
				}
			}

			>.language-dropdown-container {
				// HACK: This is disgusting, but we need to have the sales text centered *perfectly*.
				position: absolute;
				top: 50%;
				right: calc(50% - (media.$baseline-width / 2));
				translate: 0 -50%;
				display: flex;
				justify-content: end;
				align-items: center;
				gap: 5px;
				cursor: pointer;
				user-select: none;

				@media (max-width: media.$baseline-width) {

				}

				&::after {
					content: url(/static/images/dropdown-arrow.svg);
					display: flex;
					justify-content: center;
					align-self: center;
				}
			}

		}

		>.main-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 40px 0 16px 0;
			max-width: media.$baseline-width;
			margin-left: auto;
			margin-right: auto;

			>h1.logo {
				user-select: none;
				letter-spacing: 3%;

				>a {
					text-decoration: none;
					color: var(--color-text--black);
				}
			}

			.main-navigation {
				display: flex;

				>ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					display: flex;
					gap: 48px;
					font-size: 16px;

					>li {
						display: contents;

						>a {
							color: var(--color-text--black);
							text-decoration: none;
							position: relative;

							&::after {
								position: absolute;
								bottom: 0;
								left: 0;
								content: "";
								display: block;
								width: 100%;
								height: 0;
							}

							&:hover::after {
								border-top: 1px solid var(--color-text--gray);
							}
						}
					}
				}
			}

			>.right-section-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 24px;

				>.search-form {
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 4px;
					// NOTE: The default paddings suck for UX, we we're assigning
					// individual paddings to both the search field and the icon
					/* padding: 7px 12px 7px 20px; */
					background-color: var(--color-secondary--light-gray);

					>#search-submit {
						display: none;
					}

					>[for="search-submit"] {
						display: flex;
						cursor: pointer;
						padding: 7px 12px 7px 12px;
					}

					>#search-field {
						border: none;
						padding: 7px 0 7px 20px;
						background-color: var(--color-secondary--light-gray);
					}
				}

				>.other-navigation {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 16px;
				}
			}
		}
	}
}
