#page-wrapper {
	>header {
		font-size: 14px;

		>.top-header {
			position: relative;
			display: flex;
			justify-content: center;
			padding: 12px 0;
			color: #fff;
			background-color: #000;

			>.sale {
				display: flex;
				gap: 8px;
				min-width: max-content;
			}

			>.language-dropdown-container {
				position: absolute;
				right: 9%;

				* {
					user-select: none;
				}

				>ul {
					display: none;
				}

				>#language-dropdown-toggle {
					appearance: none;
				}
			}

		}
	}

	// Dropdown logic
	header>.top-header>.language-dropdown-container>#language-dropdown-toggle {
		&:checked~ul {
			display: block;
		}

		&::after {
			content: url(/static/images/dropdown-arrow.svg);
			display: block;
			rotate: 180deg;
		}

		&:checked::after {
			rotate: 0deg;
		}

		>[for="language-dropdown-toggle"] {}
	}
}
